.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e6e6e6;

  &:hover {
    background-color: #f9f9f9;
  }
}

.checkbox {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #979797;
  appearance: none;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s, border 0.3s;

  &:checked::before {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 4px;
    color: rgb(3, 213, 255);
    font-size: 18px;
  }
}

.text {
  font-size: 18px;
  color: #4d4d4d;
  transition: color 0.3s ease;

  &.completed {
    text-decoration: line-through;
    color: #d9d9d9;
  }
}

.deleteButton {
  background: none;
  border: none;
  color: #9c9c9c;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #af5b5e;
  }
}
